.my-btn{ 
    background-color: #b21039;
}

.my-btn:hover{ 
    background-color: #b21039; 
}
.my-btn:focus{
    background-color: #b21039;
}
.my-btn:active{
    background-color: #b21039;
}
.line{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:#666666;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 3.1px solid #666666;
    width: fit-content;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-github:hover,.fa-file-pdf:hover,.fa-envelope-open:hover{
    color: #FFFFFF;
}
.fab {
    color: #000000;
}

.far{
    color: #000000;  
}
.fas{
    color: #000000;   
}

.connection-btn{
    border-width: medium;
    border-radius: 50px;
    border-color: #666666;
    padding: 14px 60px;
    font-size: 20px;
}
.connection-btn:hover{
    border-width: medium;
    border-radius: 50px;
    border-color: #666666;
    background-color: #666666;
    color: #FFFFFF;
    padding: 14px 60px;
    font-size: 20px;
}
.connection-btn:focus{
    border-width: medium;
    border-radius: 50px;
    border-color: #666666;
    background-color: #666666;
    color: #FFFFFF;
    padding: 14px 60px;
    font-size: 20px;
}
.connection-btn:active{
    border-width: medium;
    border-radius: 50px;
    border-color: #666666;
    background-color: #666666;
    color: #FFFFFF;
    padding: 14px 60px;
    font-size: 20px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin:auto;
}

.about-img{
    height: 15rem;
    width: 15rem;
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}
.bio p{
    line-height: var(--line-height);
    padding: 0.3rem 0;
}