.my-btn{ 
    border-color:#ea2556; 
    background-color: #ea2556;
}

.my-btn:hover{ 
    border-color:#ea2556; 
    background-color: #ea2556; 
}
.my-btn:focus{
    border-color:#ea2556; 
    background-color: #ea2556;
}
.my-btn:active{
    border-color:#ea2556; 
    background-color: #ea2556;
}